#:schema https://docs.jj-vcs.dev/latest/config-schema.json
[user]
name = "derui"
email = "derutakayu@gmail.com"

[ui]
default-command = "status"

[remotes.origin]
auto-track-bookmarks = "*"

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
'closest_pushable(to)' = 'heads(::to & ~description(exact:"") & (~empty() | merges()))'

[aliases]
# See https://jj-vcs.github.io/jj/latest/config/#aliases
pre-commit = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  "jj diff -r @ --name-only --no-pager | xargs prek run --files",
]

# push shortcut
p = ["git", "push"]
l = ["log"]

# move recent pushable bookmark to @
tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_pushable(@)"]
