#:schema https://docs.jj-vcs.dev/latest/config-schema.json
[user]
name = "derui"
email = "derutakayu@gmail.com"

[ui]
default-command = "status"

[aliases]
# See https://jj-vcs.github.io/jj/latest/config/#aliases
pre-commit = [
  "util",
  "exec",
  "--",
  "bash",
  "-c",
  "jj diff -r @ --name-only --no-pager | xargs prek run --files",
]

# push shortcut
p = ["git", "push"]
l = ["log"]
